{% extends 'base.html' %}
{% block head_register%}
<script>
    $(function(){
        name_error=false;
        pwd_error=false;

        if($('.name_input').val().length!=0){
            name_error = true;
        }
        if($('.pwd_error').val().length!=0){
            pwd_error = true;
        }


        if({{ error_name }} == 1){
            $('.user_error').html('Invalid username').show();
        }
        if({{error_pwd}} == 1){
            $('.pwd_error').html('Wrong Password').show();
        }

        $('.name_input').blur(function(){
            if($('.name_input').val().length==0){
                $('.user_error').html('Please input your username').show();
                name_error=false;
            }else{
                $('.user_error').hide();
                name_error=true;
            }
        });
        $('.pass_input').blur(function(){
            if($('.pass_input').val().length==0){
                $('.pwd_error').html('Please input your password').show();
                pwd_error = false;
            }else{
                $('.pwd_error').hide();
                pwd_error=true;
            }
        });
        $(":submit[id=lo]").click(function(check){
            console.log(pwd_error, name_error);
            if(pwd_error == false || name_error == false){
                check.preventDefault();//Stop submitting the form
            }
        });
    });
</script>
{% endblock head_register%}
{% block body %}
	<div class="login_top clearfix">
		<a href="index.html" class="login_logo"><img src="/static/images/logo02.png"></a>
	</div>

	<div class="login_form_bg">
		<div class="login_form_wrap clearfix">
			<div class="login_banner fl"></div>
			<div class="slogan fl">Food Fresh · Fresh Food</div>
			<div class="login_form fr">
				<div class="login_title clearfix">
					<h1>User Login</h1>
					<a href="/user/register">Sign up</a>
				</div>
				<div class="form_input">
                    <!--Login Form-->
					<form method="post" action="/user/login_handle/">
                        {% csrf_token%}
						<input type="text" name="user_name" class="name_input" value="{{uname}}" placeholder="Enter Your Username">
						<div class="user_error">Invalid Input</div>
						<input type="password" name="pwd" class="pass_input" value="{{upwd}}" placeholder="Enter Your Password">
						<div class="pwd_error">Invalid Input</div>
						<div class="more_input clearfix">
							<input type="checkbox" name="rememberMe" value="1" checked="checked ">
							<label>Remember Me</label>
							<a href="#">Forgot Password?</a>
						</div>
						<input type="submit" name="" value="login" class="input_submit">
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock body %}