{% extends 'base_user_center.html'%}
{% block user_center %}
	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>User Center</h3>
			<ul>
				<li><a href="/user/info/">· User Profile</a></li>
				<li><a href="/user/order/">· All Orders</a></li>
				<li><a href=" " class="active">· Ship To</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">Ship To</h3>
				<div class="site_con">
					<dl>
						<dt>Current Receipt:</dt>
						<dd>{{user.uaddress}} ({{user.ureceipt}}) ({{user.uphone}})</dd>
					</dl>					
				</div>
				<h3 class="common_title2">Edit Address</h3>
				<div class="site_con">
					<form method="post" action="/user/site/">
						{% csrf_token %}
						<div class="form_group">
							<label>Receipt:</label>
							<input type="text" name="ureceipt" value="{{user.ureceipt}}">
						</div>
						<div class="form_group form_group2">
							<label>Address:</label>
							<textarea class="site_area" name="uaddress">{{user.uaddress}}</textarea>
						</div>
						<div class="form_group">
							<label>Post Code:</label>
							<input type="text" name="uzip" value="{{user.uzip}}">
						</div>
						<div class="form_group">
							<label>Phone:</label>
							<input type="text" name="uphone" value="{{user.uphone}}">
						</div>

						<input type="submit" name="" value="submit" class="info_submit">
					</form>
				</div>
		</div>
	</div>
{% endblock user_center %}